/* element level selectors */
text {
    font-family:
        'Lucida Sans', 
        'Lucida Sans Regular', 
        'Lucida Grande', 
        'Lucida Sans Unicode', 
        Geneva, 
        Verdana, 
        sans-serif
}

/* period containers */
.oddperiod, .evenperiod {
    width:800px;
    height:300px;
}
.oddperiod {
    fill:#D4A46A;
}
.evenperiod {
    fill:#AA7639;
}
.maintitle {
    font-size:28px;
    font-style:oblique;
    font-weight:normal;
}

/* color scheme */
.highlabel, .high {
    fill:#441D00;
}
.lowlabel, .low {
    fill:#441D00;
}
.humiditylabel, .humidity {
    fill:#441D00;
}
.mainicon {
    fill:#552E00;
}
.nighticon {
    fill:#032436;
}
.oddovernightframe, .evenovernightframe {
    fill:#28546C;
    stroke:#032436;
}
.dayumbrella {
    fill:#804F15;
    stroke:#552E00;
}
.nightumbrella {
    fill:#113B51;
    stroke:#032436;
}
.dayrain {
    fill:#FFD8AA;
}
.nightrain {
    fill:#8F90A2;
}

/* day text */
.daytext {
    font-style:italic;
}

/* high, low, humidity */
.highlabel, .lowlabel, .humiditylabel {
    font-size:20px;
}
.high, .low, .humidity {
    font-size:20px;
}
.highlabel {
    text-align:left;
}

/* rain info */
.dayumbrella, .nightumbrella {
    stroke-width:1px;
}
.dayrain, .nightrain {
    font-size:20px;
    font-weight:bold;
    text-anchor:middle;
    text-align:center;
}
#dayrainicon {

}

/* overnight info */
.nighttext {
    font-style:italic;
    font-size:14px;
}
.oddovernightframe, .evenovernightframe {
    stroke-width:2px;
}
.oddovernighttitle, .evenovernighttitle {
    font-size:18px;
}
#nightrainicon {

}